<div class="con">
    <div class="header">
        <h1>MAQE Forums</h1>
    </div>
    <div class="subtitle">
        <h2>Subtitle</h2>
    </div>
    <div class="posts">
        Posts
    </div>
    <div class="posts-body">
        <% i=0 %>
        <% (@posts).take(8).each do |post| %>
        <% if(i==0) %>
        <div class="rounded shadow col-md-12" style="padding-left: 5px;">
        <% i=1 %>
        <% else %>
        <div class="rounded-bg shadow col-md-12" style="padding-left: 5px;">
        <% i=0 %>
        <% end %>
            <div class="media">
                <span class="media-left col-md-2">
                    <%= image_tag('phi-phi-thailand.jpg', class: "img img-responsive", style: "width:100%; height: auto; padding-bottom: 15px;") %>
                </span>
                <div class="media-body col-md-8">
                    <h4 class="post-title"><%= post['title'] %></h4>
                    <p class="post-body"><%= post['body'] %></p>
                    <p class="post-date"><i class="fa fa-clock-o" aria-hidden="true"></i> <i><%= time_ago_in_words(post['created_at'])+" ago" %></i></p>
                </div>
                <div class="media-author col-md-2">
                    <%= image_tag(@authors[post['author_id']-1]['avatar_url'], class: "avatar pull-center") %>
                    <h4 class="authorname"><%= @authors[post['author_id']-1]['name'] %></h4>
                    <h4 class="role"><%= @authors[post['author_id']-1]['role'] %></h4>
                    <h4 class="place"><i class="fa fa-map-marker" aria-hidden="true"></i> <%= @authors[post['author_id']-1]['place'] %></h4>
                </div>
            </div>
        </div>
        <% end %>
        <center>
        <div class="pagination">
          <a href="#">Previous</a>
          <a href="#" class="active">1</a>
          <a href="#">2</a>
          <a href="#">3</a>
          <a href="#">4</a>
          <a href="#">5</a>
          <a href="#">6</a>
          <a href="#">Next</a>
        </center>
        </div>
        <%#= @authors %>
        <!--<br/><br/>-->
        <%#= @posts %>  
    </div>
</div>